@import "../../../../../styles.scss";

.product-gallery {
    margin-bottom: 50px;
}

.main-image {
    width: 100%;
    border: 3px solid $color-border;
    border-radius: 10px;
    margin-bottom: 16px;
    height: 336px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }
}

.slider {
    display: flex;
    .image-slide {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-basis: 30%;
        flex-grow: 0;
        flex-shrink: 0;
        border: 2px solid $color-border;
        border-radius: 8px;
        margin-right: 16px;
        text-align: center;
        height: 100px;
        //max-height: 44px;

        @include hover-states;
        // TODO (min-width: map.get($breakpoints, "tablet"))
        @media screen and (min-width: 768px) {
            max-height: 100px;
        }

        &.active {
            border: 2px solid $color-text-black;
        }

        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
        // TODO (min-width: map.get($breakpoints, "tablet"))

        @media screen and (min-width: 768px) {
            img {
                max-height: 100px;
            }
        }
    }
}

// features

