<footer>
  <div class="row">
    <div class="terms-content">
      <div class="shipping">
        <div class="title">Free Shipping</div>
        <div class="subtitle">
          Get 2-day free shipping anywhere in North America.
        </div>
      </div>
      <div class="warranty">
        <div class="title">2 years warranty</div>
        <div class="subtitle">
          If anything goes wrong in the first two years, we'll replace it for
          free.
        </div>
      </div>
    </div>
    <div class="total-content">
      <div class="colum">
        <div  class="price">
          {{ total }}
        </div>
        <div class="description">Need financing? Learn more</div>
      </div>
      <button class="button">Buy now</button>
    </div>
  </div>
</footer>
